.form-container {
    padding: 20px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.form {
    width: 300px;
    /* Adjust the width as needed */
    background-color: #333;
    /* White background color */
    padding: 50px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Box shadow for a subtle depth effect */
}

.form label {
    display: block;
    margin-bottom: 5px;
    color: #ff7f00;
    margin-top: 10px;
    /* Orange text color */
}

.form input,
.form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ff7f00;
    /* Orange border */
}

.form .submit-btn {
    background-color: #ff7f00;
    /* Orange button background */
    color: #fff;
    /* White button text */
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.form .submit-btn:hover {
    background-color: #ff6600;
    /* Darker orange on hover */
}