body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #333333;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333333;
}

input[type="email"],
input[type="password"] {
    width: 75%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 16px;
}

.button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.button[type="submit"]:hover {
    background-color: var(--hover-color);
}

.button[type="button"] {
    width: 200px;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}

.button[type="button"]:hover {
    background-color: var(--primary-color);
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}